.note-wrapper, .note {
	height: 100%;
}

.note {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.note__main {
	height: 200px;
	width: 200px;
	overflow: hidden;
}

.note__image {
	width: auto;
	height: 100%;
	object-fit: contain;
}