.stepper {
    display: flex;

    list-style: none;
    border-bottom: 1px solid var(--border);
    padding-bottom: 24px;
}

.stepper__item {
    display: flex;
    align-items: center;
}

.stepper__item:not(:last-child) {
    padding-right: 32px;
}

.stepper__number {
    width: 44px;
    height: 38px;
    margin-right: 12px;

    background: var(--default-light);
    border-radius: 8px;
    color: var(--default-dark);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    font-weight: 600;
}

.stepper__text {
    margin-bottom: 0;
    
    color: var(--default-dark);
    font-size: 13px;
    font-weight: 600;
}