.container {
    max-width: 750px;
}
.error-message, .required {
    color: red;
}
.input-wrapper.show {
    border: 1px solid #ced4da;
    padding: 14px;
}
#select-input-type {
    width: 200px;
}
input.required {
    width: auto;
}